In [1]:
#Dataframe creation using RDD
myrdd = sc.parallelize([('Jeff', 46),('Kellie', 44)])
sqlContext.createDataFrame(myrdd).collect()

[Row(_1='Jeff', _2=46), Row(_1='Kellie', _2=44)]

In [205]:
#Dataframe creation using Hive context
from pyspark import SparkConf
from pyspark.sql import HiveContext
sqlcr="""CREATE EXTERNAL TABLE stations_ex\n(\nstation_id INT,\nname STRING,\nlat DOUBLE,\nlong DOUBLE,\ndockcount INT,\nlandmark STRING,\ninstallation STRING\n) \nROW FORMAT DELIMITED \nFIELDS TERMINATED BY ',' \nSTORED AS TEXTFILE \nLOCATION 'C:/Spark_Examples/Hour13/stations.csv;'"""
sqlContext.sql(sqlcr)
hiveContext = HiveContext(sc)

In [207]:
sql_cmd = """SELECT name, lat,long FROM stations_ex"""
sqlContext.sql(sql_cmd).show()

+----+---+----+
|name|lat|long|
+----+---+----+
+----+---+----+

In [203]:
sqlContext.sql('show tables').show()

+--------+-------------+-----------+
|database|    tableName|isTemporary|
+--------+-------------+-----------+
| default|     stations|      false|
| default| stations_csv|      false|
| default|stations_hive|      false|
| default|stations_list|      false|
| default| stations_qqq|      false|
| default|stations_test|      false|
+--------+-------------+-----------+

In [210]:
sqlContext.sql("load data local inpath 'stations.csv' overwrite into table stations_hive")

DataFrame[]

In [211]:
sql_cmd = """SELECT name, lat,long,* FROM stations_hive"""
sqlContext.sql(sql_cmd).show()

+--------------------+---------+-----------+----------+--------------------+---------+-----------+---------+------------+------------+
|                name|      lat|       long|station_id|                name|      lat|       long|dockcount|    landmark|installation|
+--------------------+---------+-----------+----------+--------------------+---------+-----------+---------+------------+------------+
|                name|     null|       null|      null|                name|     null|       null|     null|    landmark|        date|
|San Jose Diridon ...|37.329732|-121.901782|         2|San Jose Diridon ...|37.329732|-121.901782|       27|    San Jose|    8/6/2013|
|San Jose Civic Ce...|37.330698|-121.888979|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|    San Jose|    8/5/2013|
|Santa Clara at Al...|37.333988|-121.894902|         4|Santa Clara at Al...|37.333988|-121.894902|       11|    San Jose|    8/6/2013|
|    Adobe on Almaden|37.331415|  -121.8932|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|    San Jose|    8/5/2013|
|    San Pedro Square|37.336721|-121.894074|         6|    San Pedro Square|37.336721|-121.894074|       15|    San Jose|    8/7/2013|
|Paseo de San Antonio|37.333798|-121.886943|         7|Paseo de San Antonio|37.333798|-121.886943|       15|    San Jose|    8/7/2013|
| San Salvador at 1st|37.330165|-121.885831|         8| San Salvador at 1st|37.330165|-121.885831|       15|    San Jose|    8/5/2013|
|           Japantown|37.348742|-121.894715|         9|           Japantown|37.348742|-121.894715|       15|    San Jose|    8/5/2013|
|  San Jose City Hall|37.337391|-121.886995|        10|  San Jose City Hall|37.337391|-121.886995|       15|    San Jose|    8/6/2013|
|         MLK Library|37.335885| -121.88566|        11|         MLK Library|37.335885| -121.88566|       19|    San Jose|    8/6/2013|
|SJSU 4th at San C...|37.332808|-121.883891|        12|SJSU 4th at San C...|37.332808|-121.883891|       19|    San Jose|    8/7/2013|
|       St James Park|37.339301|-121.889937|        13|       St James Park|37.339301|-121.889937|       15|    San Jose|    8/6/2013|
|Arena Green / SAP...|37.332692|-121.900084|        14|Arena Green / SAP...|37.332692|-121.900084|       19|    San Jose|    8/5/2013|
|SJSU - San Salvad...|37.333955|-121.877349|        16|SJSU - San Salvad...|37.333955|-121.877349|       15|    San Jose|    8/7/2013|
|   Franklin at Maple|37.481758|-122.226904|        21|   Franklin at Maple|37.481758|-122.226904|       15|Redwood City|   8/12/2013|
|Redwood City Calt...|37.486078|-122.232089|        22|Redwood City Calt...|37.486078|-122.232089|       25|Redwood City|   8/15/2013|
|San Mateo County ...|37.487616|-122.229951|        23|San Mateo County ...|37.487616|-122.229951|       15|Redwood City|   8/15/2013|
|Redwood City Publ...|37.484219|-122.227424|        24|Redwood City Publ...|37.484219|-122.227424|       15|Redwood City|   8/12/2013|
|Stanford in Redwo...| 37.48537|-122.203288|        25|Stanford in Redwo...| 37.48537|-122.203288|       15|Redwood City|   8/12/2013|
+--------------------+---------+-----------+----------+--------------------+---------+-----------+---------+------------+------------+
only showing top 20 rows

In [212]:
sql_cmd = """SELECT name, lat,long FROM stations where landmark='San Jose'"""
sqlContext.sql(sql_cmd).show()

+--------------------+---------+-----------+
|                name|      lat|       long|
+--------------------+---------+-----------+
|San Jose Diridon ...|37.329732|-121.901782|
|San Jose Civic Ce...|37.330698|-121.888979|
|Santa Clara at Al...|37.333988|-121.894902|
|    Adobe on Almaden|37.331415|  -121.8932|
|    San Pedro Square|37.336721|-121.894074|
|Paseo de San Antonio|37.333798|-121.886943|
| San Salvador at 1st|37.330165|-121.885831|
|           Japantown|37.348742|-121.894715|
|  San Jose City Hall|37.337391|-121.886995|
|         MLK Library|37.335885| -121.88566|
|SJSU 4th at San C...|37.332808|-121.883891|
|       St James Park|37.339301|-121.889937|
|Arena Green / SAP...|37.332692|-121.900084|
|SJSU - San Salvad...|37.333955|-121.877349|
|Santa Clara Count...|37.352601|-121.905733|
|         Ryland Park|37.342725|-121.895617|
+--------------------+---------+-----------+

In [55]:
#DataFrames creation by json file
df = sqlContext.read.json('stations.json')
df.show()

+---------+---------+----------------+
|      lat|     long|            name|
+---------+---------+----------------+
|37.331415|-121.8932|Adobe on Almaden|
+---------+---------+----------------+

In [58]:
#Dataframes from JSON RDD
stationsrdd = sc.parallelize(['{"name":"Adobe on Almaden", "lat":37.331415, "long":-121.8932}','{"name":"Japantown", "lat":37.348742, "long":-121.894715}'])
df = sqlContext.read.json(stationsrdd)

df.show()

+---------+-----------+----------------+
|      lat|       long|            name|
+---------+-----------+----------------+
|37.331415|  -121.8932|Adobe on Almaden|
|37.348742|-121.894715|       Japantown|
+---------+-----------+----------------+

In [85]:
#Read individual file
df = sqlContext.read.text('stations.csv')
df.show()

+--------------------+
|               value|
+--------------------+
|slno,name,lat,lon...|
|2,San Jose Dirido...|
|3,San Jose Civic ...|
|4,Santa Clara at ...|
|5,Adobe on Almade...|
|6,San Pedro Squar...|
|7,Paseo de San An...|
|8,San Salvador at...|
|9,Japantown,37.34...|
|10,San Jose City ...|
|11,MLK Library,37...|
|12,SJSU 4th at Sa...|
|13,St James Park,...|
|14,Arena Green / ...|
|16,SJSU - San Sal...|
|21,Franklin at Ma...|
|22,Redwood City C...|
|23,San Mateo Coun...|
|24,Redwood City P...|
|25,Stanford in Re...|
+--------------------+
only showing top 20 rows

In [87]:
df = sqlContext.read.csv('stations.csv',header='true')
df.show()

+----+--------------------+---------+-----------+-----+------------+---------+
|slno|                name|      lat|       long|value|    landmark|     date|
+----+--------------------+---------+-----------+-----+------------+---------+
|   2|San Jose Diridon ...|37.329732|-121.901782|   27|    San Jose| 8/6/2013|
|   3|San Jose Civic Ce...|37.330698|-121.888979|   15|    San Jose| 8/5/2013|
|   4|Santa Clara at Al...|37.333988|-121.894902|   11|    San Jose| 8/6/2013|
|   5|    Adobe on Almaden|37.331415|  -121.8932|   19|    San Jose| 8/5/2013|
|   6|    San Pedro Square|37.336721|-121.894074|   15|    San Jose| 8/7/2013|
|   7|Paseo de San Antonio|37.333798|-121.886943|   15|    San Jose| 8/7/2013|
|   8| San Salvador at 1st|37.330165|-121.885831|   15|    San Jose| 8/5/2013|
|   9|           Japantown|37.348742|-121.894715|   15|    San Jose| 8/5/2013|
|  10|  San Jose City Hall|37.337391|-121.886995|   15|    San Jose| 8/6/2013|
|  11|         MLK Library|37.335885| -121.88566|   19|    San Jose| 8/6/2013|
|  12|SJSU 4th at San C...|37.332808|-121.883891|   19|    San Jose| 8/7/2013|
|  13|       St James Park|37.339301|-121.889937|   15|    San Jose| 8/6/2013|
|  14|Arena Green / SAP...|37.332692|-121.900084|   19|    San Jose| 8/5/2013|
|  16|SJSU - San Salvad...|37.333955|-121.877349|   15|    San Jose| 8/7/2013|
|  21|   Franklin at Maple|37.481758|-122.226904|   15|Redwood City|8/12/2013|
|  22|Redwood City Calt...|37.486078|-122.232089|   25|Redwood City|8/15/2013|
|  23|San Mateo County ...|37.487616|-122.229951|   15|Redwood City|8/15/2013|
|  24|Redwood City Publ...|37.484219|-122.227424|   15|Redwood City|8/12/2013|
|  25|Stanford in Redwo...| 37.48537|-122.203288|   15|Redwood City|8/12/2013|
|  26|Redwood City Medi...|37.487682|-122.223492|   15|Redwood City|8/12/2013|
+----+--------------------+---------+-----------+-----+------------+---------+
only showing top 20 rows

In [214]:
df.write.parquet("stations_hive.parquet")

In [95]:
newdf = sqlContext.read.parquet('stations.parquet')
newdf.printSchema()

root
 |-- slno: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- value: string (nullable = true)
 |-- landmark: string (nullable = true)
 |-- date: string (nullable = true)

In [96]:
newdf.show()

+----+--------------------+---------+-----------+-----+------------+---------+
|slno|                name|      lat|       long|value|    landmark|     date|
+----+--------------------+---------+-----------+-----+------------+---------+
|   2|San Jose Diridon ...|37.329732|-121.901782|   27|    San Jose| 8/6/2013|
|   3|San Jose Civic Ce...|37.330698|-121.888979|   15|    San Jose| 8/5/2013|
|   4|Santa Clara at Al...|37.333988|-121.894902|   11|    San Jose| 8/6/2013|
|   5|    Adobe on Almaden|37.331415|  -121.8932|   19|    San Jose| 8/5/2013|
|   6|    San Pedro Square|37.336721|-121.894074|   15|    San Jose| 8/7/2013|
|   7|Paseo de San Antonio|37.333798|-121.886943|   15|    San Jose| 8/7/2013|
|   8| San Salvador at 1st|37.330165|-121.885831|   15|    San Jose| 8/5/2013|
|   9|           Japantown|37.348742|-121.894715|   15|    San Jose| 8/5/2013|
|  10|  San Jose City Hall|37.337391|-121.886995|   15|    San Jose| 8/6/2013|
|  11|         MLK Library|37.335885| -121.88566|   19|    San Jose| 8/6/2013|
|  12|SJSU 4th at San C...|37.332808|-121.883891|   19|    San Jose| 8/7/2013|
|  13|       St James Park|37.339301|-121.889937|   15|    San Jose| 8/6/2013|
|  14|Arena Green / SAP...|37.332692|-121.900084|   19|    San Jose| 8/5/2013|
|  16|SJSU - San Salvad...|37.333955|-121.877349|   15|    San Jose| 8/7/2013|
|  21|   Franklin at Maple|37.481758|-122.226904|   15|Redwood City|8/12/2013|
|  22|Redwood City Calt...|37.486078|-122.232089|   25|Redwood City|8/15/2013|
|  23|San Mateo County ...|37.487616|-122.229951|   15|Redwood City|8/15/2013|
|  24|Redwood City Publ...|37.484219|-122.227424|   15|Redwood City|8/12/2013|
|  25|Stanford in Redwo...| 37.48537|-122.203288|   15|Redwood City|8/12/2013|
|  26|Redwood City Medi...|37.487682|-122.223492|   15|Redwood City|8/12/2013|
+----+--------------------+---------+-----------+-----+------------+---------+
only showing top 20 rows

In [106]:
newdf.filter(newdf.name == 'St James Park') \
.select(newdf.name,newdf.lat,newdf.long) \
.show()

+-------------+---------+-----------+
|         name|      lat|       long|
+-------------+---------+-----------+
|St James Park|37.339301|-121.889937|
+-------------+---------+-----------+

In [107]:
#Distinct function
rdd = sc.parallelize([('Jeff', 46),('Kellie', 44),('Jeff', 46)])
df = sqlContext.createDataFrame(rdd)
df.show()

+------+---+
|    _1| _2|
+------+---+
|  Jeff| 46|
|Kellie| 44|
|  Jeff| 46|
+------+---+

In [111]:
df.distinct().show()

+------+---+
|    _1| _2|
+------+---+
|  Jeff| 46|
|Kellie| 44|
+------+---+

In [114]:
#select, map, and flatMap
df = sqlContext.read.parquet('stations.parquet')

rdd = df.rdd.map(lambda r: r.name)

rdd

rdd.take(20)

['San Jose Diridon Caltrain Station',
 'San Jose Civic Center',
 'Santa Clara at Almaden',
 'Adobe on Almaden',
 'San Pedro Square',
 'Paseo de San Antonio',
 'San Salvador at 1st',
 'Japantown',
 'San Jose City Hall',
 'MLK Library',
 'SJSU 4th at San Carlos',
 'St James Park',
 'Arena Green / SAP Center',
 'SJSU - San Salvador at 9th',
 'Franklin at Maple',
 'Redwood City Caltrain Station',
 'San Mateo County Center',
 'Redwood City Public Library',
 'Stanford in Redwood City',
 'Redwood City Medical Center']

In [115]:
df = sqlContext.read.parquet('stations.parquet')

newdf = df.select((df.name).alias("Station Name"))

newdf.show(2)

+--------------------+
|        Station Name|
+--------------------+
|San Jose Diridon ...|
|San Jose Civic Ce...|
+--------------------+
only showing top 2 rows

In [217]:
#User defined functions
df = sqlContext.read.parquet('stations_hive.parquet')

from pyspark.sql.functions import *

from pyspark.sql.types import *

lat2dir = udf(lambda x: 'N' if x !='0' else 'S', StringType())

lon2dir = udf(lambda x: 'E' if x != '0' else 'W', StringType())

(
    df.select('lat',
          'long', 
          lat2dir('lat').alias('fun_lat'),
          lon2dir('long').alias('fun_long'))

.show()
)

+---------+-----------+-------+--------+
|      lat|       long|fun_lat|fun_long|
+---------+-----------+-------+--------+
|37.329732|-121.901782|      N|       E|
|37.330698|-121.888979|      N|       E|
|37.333988|-121.894902|      N|       E|
|37.331415|  -121.8932|      N|       E|
|37.336721|-121.894074|      N|       E|
|37.333798|-121.886943|      N|       E|
|37.330165|-121.885831|      N|       E|
|37.348742|-121.894715|      N|       E|
|37.337391|-121.886995|      N|       E|
|37.335885| -121.88566|      N|       E|
|37.332808|-121.883891|      N|       E|
|37.339301|-121.889937|      N|       E|
|37.332692|-121.900084|      N|       E|
|37.333955|-121.877349|      N|       E|
|37.481758|-122.226904|      N|       E|
|37.486078|-122.232089|      N|       E|
|37.487616|-122.229951|      N|       E|
|37.484219|-122.227424|      N|       E|
| 37.48537|-122.203288|      N|       E|
|37.487682|-122.223492|      N|       E|
+---------+-----------+-------+--------+
only showing top 20 rows

In [163]:
df.take(1)

[Row(slno='2', name='San Jose Diridon Caltrain Station', lat='37.329732', long='-121.901782', value='27', landmark='San Jose', date='8/6/2013')]

In [200]:
#Joining dataframes
trips = sqlContext.table("trips")

AnalysisException: 'Table or view not found: trips;'