In [20]:
from pyspark.sql import SQLContext

sqlctx = SQLContext(sc)

names=sqlctx.read.json("Names.json")
names
names.dtypes
names.show()

+---+----+
|age|name|
+---+----+
| 20| abc|
| 30| def|
| 50| ghi|
+---+----+

In [22]:
sqlctx.registerDataFrameAsTable(names, "names")
df2 = sqlctx.sql("SELECT name, age FROM names WHERE age > 20")
df2.show()

+----+---+
|name|age|
+----+---+
| def| 30|
| ghi| 50|
+----+---+